.participantes{
    display: flex;
    justify-content: space-around;
    padding: 70px;
}

.participantes img{
    width: 350px;
    min-height: 470px;
    border: solid white 1px;
    border-radius: 160px;
    margin-bottom: 30px;
}

.participantes .nicolas, .lucas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.participantes p{
    margin: 10px;
}

@media (min-width: 1201px) and (max-width: 1500px) {
    .participantes img{
        width: 300px;
        min-height: 350px;
    }

    .participantes{
        margin-top: 50px;
        position: relative;
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .participantes{
        flex-direction: column;
    }

    .container{
        position: relative;

        width: 100vw;
    }
}