*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(14,95,253);
    background: linear-gradient(90deg, rgba(14,95,253,1) 12%, rgba(14,175,253,1) 80%)
}

.header-left{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-left img {
    height: 150px;
    width: 150px;
    padding: 15px;
}

.header-left .title{
    margin: 20px 0 0 30px;
}

header .links{
    width: 500px;
    margin-top: 120px;
    padding-right: 50px;
    display: flex;
    justify-content: space-evenly;
}

.links a{
    color: #FFFFFF;
}

main{
    display: flex;
    justify-content: space-between;
}

main .about{
    margin-top: 60px;
    margin-left: 20px;
    width: 500px;
}

.about h2{
    padding-bottom: 50px;
}

.about .link-about{
    margin-top: 60px;
}

.main-right img{
    height: 400px;
    width: 600px;
    margin: 60px 40px 0 0;
}

footer{
    background: rgb(64,94,151);
    background: linear-gradient(90deg, rgba(64,94,151,1) 12%, rgba(103,151,243,1) 80%);
    display: flex;
    justify-content: space-between;
}

.footer-left {
    color: #FFFFFF;
    margin: 20px 0 0 30px
}

.footer-left h4{
    /*margin-left: 10px;*/
}

footer a{
    color: #FFFFFF;
}

.footer-middle{
    margin: 40px 0 0 10px
}

.footer-right{
    display: flex;
    justify-content: flex-start;
}

.footer-right svg{
    margin: 20px 0;
    height: 50px;
}

.legal{
    display: flex;
    justify-content: center;
    background-color: #4732C9;
}



